body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    margin: 2rem 0;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
}

.project {
    margin: 1rem 0;
}

#projects nav {
    background-color: #f0f0f0;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 20px;
}

li a {
    font-size: 17px;
}

.project ol {
    margin: 0;
    padding: 0;
    padding-left: 1em;
}

.project ul {
    margin: 0;
    padding: 0;
    padding-left: 1em;
}

.video-custam {
    width: 100%;
    max-width: 600px;
}

video {
    width: 100%;
    height: auto;
}

#topbutton {
	position: fixed;
	bottom: 18px;
	right: 18px;
	width: 7em;

	display: none;

	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0.75;
	border-radius: 24px;
	text-align: center;
	font-size: 120%;
	font-weight: bold;
	margin: 0px;
	padding: 10px;
}
#topbutton a {
	color: white;
	text-decoration: none;
}
#topbutton a:hover {
	color: yellow;
	text-decoration: underline;
}
